@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

:root {
    --cor-primaria: #0f41e7;
    --cor-secundaria: #3d57ad;
    --cor-terciaria: #011863;
    --cor-quartenaria: #0B35BE;
    --cor-quintenaria: #2d323e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-quintenaria);
}

header {
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.logo {
    font-family: 'Micro 5';
}

h1.logo {
    color: white;
    flex-grow: 1;
    margin-top: 0px;
    font-size: 100px;
}

.logo span {
    color: var(--cor-primaria);
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 3px 5px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.menu ul li a:hover {
    background-color: var(--cor-primaria);
    color: white;
    border-color: transparent;
}

.menu ul li.dropdown {
    position: relative;
}

.menu ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--cor-terciaria);
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
}

.menu ul li:hover .submenu {
    display: block;
}

.menu ul li .submenu li a {
    padding: 10px 20px;
    background-color: var(--cor-terciaria);
    border: none;
    display: block;
}

.menu ul li .submenu li a:hover {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
}

.menu ul li .submenu .submenu {
    top: 0;
    left: -100%;
    display: none;
}

.menu ul li .submenu-item:hover .submenu {
    display: block;
}

.menu ul li .submenu-item {
    position: relative;
}

main {
    margin-top: 110px;
    font-size: large;
}

section div{
    display: inline-block;
    padding: 20px;
    width: 80vh;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 50px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4);

}

h1 {
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
               2px 2px 4px rgba(0, 0, 0, 0.3),
               3px 3px 6px rgba(0, 0, 0, 0.2),
               4px 4px 8px rgba(0, 0, 0, 0.1);
}

main p {
    text-indent: 20px;
    color: white;
    text-align: justify;
    margin-top: 5px;
}

main div li {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

main div li a {
    color: white;
}

span.logo {
    font-size: 40px;
    margin-left: 3px;
    margin-right: 3px;
}

.icon {
    width: 50px;
}


/*
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    text-indent: 2em;
}
